.console {
    background-color: black;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    width: 48%;
    float: right
}

.info {
    background-color: black;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    width: 48%;
    float: left;
}

span.heading {
    color: Cyan;
}

span.description {
    color: Lime;
}

span.next_step {
    color: RebeccaPurple;
}

span.warning {
    color: Red;
}

span.request_input {
    color: Purple
}