.console {
    background-color: black;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    width: 48%;
    height: 80vh;
    overflow: auto;
    float: right
}

.full_screen {
    width: 100%;
    height: 100vh;
}

span.prompt {
    color: White
}

span.command {
    color: white
}

span.results {
    color: LightGreen
}

